<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Add a Luggage Item</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/items}">Database Items</a></li>
            <li><a th:href="@{/addItem}">Add Item</a></li>
            <li><a th:href="@{/journeys}">Journeys</a></li>
            <li><a th:href="@{/addJourney}">Add Journey</a></li>

        </ul>
    </div>
</div>
<div class="container">
    <div class="page-header text-center">
        <h1><span>Your </span><span class="cie-green">Luggage</span> Friend</h1>
        <p class="lead">I am going away and I need to pack </p>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h4>Add an item to the database : </h4>

            <form th:action="@{/addItem}" method="post" th:object="${item}">
                <div class="form-group" th:class="${#fields.hasErrors('itemName')}? 'has-error'">
                    <label th:for="${#ids.next('itemName')}">Item Name:</label>
                    <input type="text" th:field="*{itemName}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('itemName')}" class="help-block" th:errors="*{itemName}"></span>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('itemColor')}? 'has-error'">
                    <label th:for="${#ids.next('itemColor')}">Item Color:</label>
                    <input type="text" th:field="*{itemColor}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('itemColor')}" class="help-block" th:errors="*{itemColor}"></span>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('category.name')}? 'has-error'">
                    <label th:for="${#ids.next('category.name')}">Item Category:</label>
                    <select id="category" th:field="*{category}" class="form-control">
                        <option th:each="listitem: ${CatList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>


                <div class="form-group" th:class="${#fields.hasErrors('transport.name')}? 'has-error'">
                    <label th:for="${#ids.next('transport.name')}">Type of transportation this item can be related to:</label>
                    <select id="transport" th:field="*{transport}" class="form-control">
                        <option th:each="listitem: ${TransList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('journeyType')}? 'has-error'">
                    <label th:for="${#ids.next('journeyType')}">Type of journey this item can be related to:</label>
                    <select id="journeyType" th:field="*{journeyType}" class="form-control">
                        <option th:each="listitem: ${JourneyTypeList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('weather')}? 'has-error'">
                    <label th:for="${#ids.next('weather')}">Is this item related to weather conditions?</label>
                    <select id="weather" th:field="*{weather}" class="form-control">
                        <option th:each="listitem: ${WeatherList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('personType')}? 'has-error'">
                    <label th:for="${#ids.next('personType')}">Is this item person related?</label>
                    <select id="personType" th:field="*{personType}" class="form-control">
                        <option th:each="listitem: ${PersonTypeList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('travelZone')}? 'has-error'">
                    <label th:for="${#ids.next('travelZone')}">Is this item travelzone related?</label>
                    <select id="travelZone" th:field="*{travelZone}" class="form-control">
                        <option th:each="listitem: ${TravelZoneList}"
                                th:value="${listitem.id}"
                                th:text="${listitem.name}">
                        </option>
                    </select>
                </div>


                <div class="form-group" th:class="${#fields.hasErrors('dayDependency')}? 'has-error'">
                    <label th:for="${#ids.next('dayDependency')}">Item dependend on number of days?</label>
                    <select id="dayDependency" th:field="*{dayDependency}" class="form-control">

                    <option type="text" id="dayDependency" th:field="*{dayDependency}"
                           th:each="listitem: ${dayDependency}"
                           th:value="${dayDependency.id}"
                           th:text="${dayDependency.name}">
                        <!--http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html-->
                    </option>

                    </select>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary">Add Item</button>


            </form>

        </div>
    </div>
    <hr/>
</div>



<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>


</body>
</html>