<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>The Luggage Helper</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/items}">Luggage Items</a></li>
            <li><a th:href="@{/addItem}">Add Item</a></li>
            <li><a th:href="@{/journeys}">Journeys</a></li>
            <li><a th:href="@{/peopleTravelling}">People joining</a></li>

        </ul>
    </div>
</div>


<div class="container">
    <div class="page-header text-center">

        <h1>under construction</h1>

        <h2> Voor welk type vakantie wil u uw bagage maken?</h2>
        <h3> gemaakt voor Belgen die vanuit België reizen</h3>

    </div>


    <form th:action="@{/addJourney}" method="post" th:object="${journey}">
        <div class="form-group" th:class="${#fields.hasErrors('journeyName')}? 'has-error'">
            <label th:for="${#ids.next('journeyName')}">Geef een naam voor uw vakantie:</label>
            <input type="text" th:field="*{journeyName}" class="form-control"/>
            <span th:if="${#fields.hasErrors('journeyName')}" class="help-block" th:errors="*{journeyName}"></span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('numberDays')}? 'has-error'">
            <label th:for="${#ids.next('numberDays')}">Hoe lang duurt uw vakantie? (in dagen):</label>
            <input type="text" th:field="*{numberDays}" class="form-control"/>
            <span th:if="${#fields.hasErrors('numberDays')}" class="help-block" th:errors="*{numberDays}"></span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('travelZone')}? 'has-error'">
            <label th:for="${#ids.next('travelZone')}">Naar welke zone reist u?</label>
            <input type="text" th:field="*{travelZone}" class="form-control"/>
            <span th:if="${#fields.hasErrors('travelZone')}" class="help-block" th:errors="*{travelZone}"></span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('transport')}? 'has-error'">
            <label th:for="${#ids.next('transport')}">Welke transportmiddelen zal u gebruiken?</label>
            <input type="text" th:field="*{transport}" class="form-control"/>
            <span th:if="${#fields.hasErrors('transport')}" class="help-block" th:errors="*{transport}"></span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('weather')}? 'has-error'">
            <label th:for="${#ids.next('weather')}">Welke zijn de verwachte weersomstandigheden?</label>
            <input type="text" th:field="*{weather}" class="form-control"/>
            <span th:if="${#fields.hasErrors('weather')}" class="help-block" th:errors="*{weather}"></span>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('journeyType')}? 'has-error'">
            <label th:for="${#ids.next('journeyType')}">Type vakantie : </label>
            <input type="text" th:field="*{journeyType}" class="form-control"/>
            <span th:if="${#fields.hasErrors('journeyType')}" class="help-block" th:errors="*{journeyType}"></span>
        </div>

        <br/>

        <button type="submit" class="btn btn-primary">Add Journey</button>
    </form>






</div>



<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>