<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Items you need to pack</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/items}">Luggage Items</a></li>
            <li><a th:href="@{/addItem}">Add Item</a></li>
            <li><a th:href="@{/journeys}">Journeys</a></li>
            <li><a th:href="@{/peopleTravelling}">People joining</a></li>

        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span>Your </span><span class="cie-green">Luggage</span> Friend</h1>
        <p class="lead">I am going away and I need to pack </p>
    </div>

    <div>
        <h3>For {name of journey} </h3>
        <h4>with transport type: {name transport type}</h4>
        <h3>You need to pack the following items:</h3>
    </div>



    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>
