<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Journey List</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">

        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/items}">Database Items</a></li>
            <li><a th:href="@{/addItem}">Add Item</a></li>
            <li><a th:href="@{/journeys}">Journeys</a></li>
            <li><a th:href="@{/peopleTravelling}">People joining</a></li>

        </ul>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span>Your </span><span class="cie-green">Luggage</span> Friend</h1>
        <p class="lead">I am going away and I need to pack </p>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4>Created journeys : </h4>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Journey Name</th>
                    <th>Number of Days</th>
                    <th>Travel Zone</th>
                    <th>Transport</th>
                    <th>Weather conditions</th>
                    <th>Type of Journey</th>

                </tr>
                </thead>
                <tbody th:each="journey : ${journeyList}">
                <tr>

                    <td><a th:text="${journey.journeyName}" th:href="@{/journeyItems(id=${journey.id})}"></a></td>
                    <td th:text="${journey.numberDays}"></td>
                    <td th:text="${journey.travelZone}"></td>
                    <td th:text="${journey.transport.getName()}"></td>
                    <td th:text="${journey.weather}"></td>
                    <td th:text="${journey.journeyType.getName()}"></td>

                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{/addJourney}">Add New Journey</a>
        </div>
    </div>



    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>
